# Salesforce
.sfdx/
.sf/
.localdevserver/

# Environment variables
.env
.env.local
.env.*.local

# Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependencies
node_modules/
bower_components/

# Testing
coverage/
.nyc_output/

# Build
dist/
build/
tmp/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operatiu
.DS_Store
Thumbs.db

# Altres
*.swp
*.bak
*.tmp
*.temp